@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text: 1.5rem;
    --putih: #ffffff;
    --biru1: #E2F0F9;
    --biru2: #B0DDE4;
    --biru3: #286FB4;
    --pink: #DF4C73;
    --hitam: black;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

.landing-page{
    position: relative;
}

@keyframes movedown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 10vh;
    background-color: var(--biru1);
    color: var(--biru3);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border-radius: 20px; */
    cursor: pointer;
    position: sticky;
    transform: translateY(-100%);
    animation: movedown 1s forwards;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 2rem;
    /* margin-right: 2rem; */
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: var(--biru3);
}

.navbar ul li a:hover{
    border-bottom: 2px solid var(--biru3);
    color: var(--pink);
}

.hero-section{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    /* margin: 5rem; */
    /* height: 100vh; */
    min-height: 90vh;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

.hero-text h3{
    font-size: 2rem;
    color: var(--biru3);
}


.job{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 2s steps(40, end) forwards,
                blink .75s step-end infinite ;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 60% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: var(--pink); }
}

.hero-text h1{
    font-size: 4rem;
    color: var(--pink);
}

.hero-text p{
    /* font-size: 4rem; */
    color: var(--biru3);
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.hero-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    overflow: hidden;
    animation: fade 1.5s ease-in;
}

.frame-bulat{
    display: flex;
    /* position: inline-block; */
    width: 350px;
    height: 350px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px var(--biru2), 0 0 8px var(--biru3);
    /* border: 3px solid var(--biru2); */
    justify-content: center;
    /* border-style: blur; */
}

.frame-bulat img{
    width: auto;
    height: auto;
    /* box-shadow: 5px 5px 10px rgb(152, 151, 151); */
    /* overflow: hidden; */
    /* box-shadow: 5px grey; */
}


.hero-section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
}

.about-me-section{
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 8rem;
}

.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
    /* padding: 0 2rem; */
    /* width: 500px; */
}

.about-me-section p{
    font-size: 1.5rem;
    /* text-align: justify;
    text-justify: inter-word; */
}

.about-desc h1{
    color: var(--pink);
    font-size: 4rem;
}

.about-pic{
    padding: 0 5rem;
    justify-content: center;
}

.about-pic img{
    width: 300px;
    border: 3px solid var(--pink);
    border-radius: 30px;
}

.get-to-know-me-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}

.get-to-know-me-section h1{
    font-size: 4rem;
    color: var(--pink);
}

.table{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.me-title{
    color: var(--biru3);
    font-size: 2rem;
    border-bottom: 2px solid var(--pink);
}

.table table{
    text-align: left;
    table-layout: fixed;
    width: auto;
    vertical-align: text-top;
    /* padding: 1rem 0; */
    font-size: 1.5rem;
    /* text-align: justify; */
}

.years{
    vertical-align: text-top;
}

th{
    padding-top: 1rem;
    color: var(--biru3);
}

.skill-section{
    padding: 2.3rem 0;
    margin-top: 2rem;
}

.skill-container{
    width: fit-content;
    box-shadow: 5px 5px 10px rgb(152, 151, 151);
    border-radius: 30px;
    margin: 2rem 0;
    display: flex;
}

.stack-tools{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
}

.stack-tools h2{
    font-style: italic;
    color: var(--biru3);
    font-size: 1.7rem;
}

.skills-container-img{
    display: flex;
    flex-direction: row;
    
}

.skills-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-card img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    box-shadow: 0px 3px 4px grey;
    margin: 1rem 1.5rem;
}

.portfolio-section{
    display: flex;
    padding: 0 5rem;
    flex-direction: column;
}

.portfolio-section h1{
    font-size: 4rem;
    color: var(--pink);
    height: fit-content;
    /* vertical-align:text-bottom;
    margin-block-end: 0;
    padding-block-end: 0; */
    
}

.portfolio-section h3{
    font-size: 2rem;
    color: var(--biru2);
}

.portfolio-content{
    display: flex;
    flex-direction: column;
    /* margin: 2rem 0; */
}

.port1{
    /* margin: 2rem 0; */
    margin-top: 4rem;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-around; */
}

.hackathon-web-text{
    display: flex;
    flex-direction: column;
    padding-right: 5rem;
    justify-content: center;
}

.hackathon-web-text h3{
    font-size: 2rem;
    color: var(--biru3);
}

.port1 img{
    /* padding: 0 3rem; */
    width: 430px;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 3px 3px 10px gray;
}

.port-desc{
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.port-button{
    border-radius: 10px;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    background-color: var(--biru2);
    color: var(--putih);
    cursor: pointer;
    transition: 0.3s;
    /* margin-top: 20px; */
}

.port-button:hover{
    background-color: #286FB4;
}

.port2{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
}

.port2 h3{
    font-size: 2rem;
    color: var(--biru3);
}

.port2-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    /* flex-direction: row; */
}

.port2-preview img{
    width: 200px;
    margin: 1rem 4rem;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
}

.port3{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.port3 h3{
    font-size: 2rem;
    color: var(--biru3);
}

.port3-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.port3-preview{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    align-items: center;
}

.port3-preview img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
}

.get-in-touch{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 3px 3px 10px gray;
    margin: 8rem 5rem;
    padding: 1.7rem 4rem;
    justify-content: space-between;
    border-bottom: 6px solid var(--pink);
}

.capt1{
    font-size: 1.5rem;
    color: var(--pink);
}

.capt2{
    font-size: 2rem;
    color: var(--pink);
}

.capt3{
    font-size: 4rem;
    color: var(--biru3);
}

.get-in-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.get-button{
    border-radius: 10px;
    padding: 12px;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    background-color: var(--biru2);
    color: var(--putih);
    cursor: pointer;
    transition: 0.3s;
    height: fit-content;
    box-shadow: 0 0 8px gray;
    /* margin-top: 20px; */
}

.get-button:hover{
    background-color: #286FB4;
}

.contact-me{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.contact-me h1{
    font-size: 4rem;
    color: var(--pink);
}

.contact-me-sect{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-items: start;
    /* justify-content: space-between; */
    align-items: center;
}

.contact-me-acc{
    display: flex;
    flex-direction: column;
}

.my-contact{
    display: flex;
    align-items: center;
}

.my-contact img{
    width: 40px;
}

.my-acc{
    display: flex;
}

.my-acc img{
    width: 50px;
}

.message-me{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 7rem;
}

.input-form{
    margin: 0.7rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.input-form input{
    border: none;
    width: 100%;
    padding: 0.75rem 3rem 0.75rem 1.5rem;
    border-radius: 5rem;
    position: relative;

    background: var(--biru2);
    color: black;
}

.send-button{
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    background-color: var(--biru3);
    color: var(--putih);
    cursor: pointer;
    transition: 0.3s;
    /* margin-top: 20px; */
}

.send-button:hover{
    background-color: var(--pink);
}




